.jumbotron {
    padding: 4rem 2rem;
    margin-bottom: 2rem;
    background-color: var(--bs-light);
    border-radius: .3rem;
    background-color: #c6cacf;
}

.img {
    width: 200px;
    height: 200px;
    margin: 30px 30px 30px;
    background-color: red;
    border-radius: 10px;
}